/* header-banner section styles*/
.banner-head{
    border: 1px solid;
    width: 1300px;
    height: 600px;
    background-image: url('/images/Banner\ Image.png');
    margin: 50px 250px;
    font-family: Merriweather;
    text-align: center;
    border-radius:20px ;
}
.banner-title{
    color: #FFF;
    font-weight: 400;
    padding: 170px 450px 0px 450px ;
    font-size: 30px;
}

.banner-section{
   color: #FFF;
    font-size: 75px;
    font-weight: 900;
    padding: 0px 345px 180px 340px;
    
}
.banner-containt{
    border:1px solid white;
    margin: 200px;
    width: 1600px;
    height: 733px;
    text-align: center;
    font-family: Inter;
    border-radius: 5px;
}
.banner-heading{
    color: #F00;
    font-size: 85px;
    font-weight: 700;
}
.banner-info{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
}
.banner-description{
    color: #070211;
    font-size: 48px;;
    font-weight: 700;                
}