/*body{
    margin: 50%;
}*/
/* header-banner section styles*/
.banner-head{
    border: 1px solid;
    width: 1300px;
    height: 600px;
    margin: 50px 250px;
    font-family: Merriweather;
    text-align: center;
    border-radius:20px ;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./images/Banner Image.png');
    /*background-image: url('/images/Banner Image.png');*/
}
.banner-title{
    color: #FFF;
    font-weight: 400;
    padding: 110px 450px 0px 450px ;
    font-size: 30px;
}

.banner-section{
   color: #FFF;
    font-size: 75px;
    font-weight: 900;
    padding: 0px 345px 250px 340px;
    
}
.banner-containt{
    border:1px solid white;
    margin: 200px;
    width: 1600px;
    height: 733px;
    text-align: center;
    font-family: Inter;
    border-radius: 5px;
}
.banner-heading{
    color: #F00;
    font-size: 85px;
    font-weight: 700;
}
.banner-info{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
}
.banner-description{
    color: #070211;
    font-size: 48px;;
    font-weight: 700;                
}
/*main section*/
.colum{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    width: 1320px;
    height: 600px;
   /* background-image: url('/images/Vectorrr.png');*/
    border-radius: 5px;
    margin: 50px 250px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('/images/Vectorrr.png');
    
}
/*.colum-title{
    padding-left: 120px;
}*/
.colum-heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    padding-left: 120px ;
    padding-right: 250px;
}
.colum-description{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
padding-left: 120px;
padding-right: 180px;
}
.colum-button{
    color: #FFF;
    margin-left: 150px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: none;

}
.place-date-time{
    border: 1px solid white ;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 50px 250px;
    width: 1320px;
    height: 482px;

}
label{
    display: block;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.button-name{
    padding: 40px 570px 100px 570px;
}
.button-place{
    /*padding: 40px 500px 100px 490px;*/
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 8px;
    background: #F00;
}
.place-button-name{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border-radius: 5px;
}
span{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}